# Estudo sobre o Pandas

In [3]:
import pandas as pd
import numpy as np

In [5]:
obj = pd.Series([4,7,-5,3], index=['a','b','c','d'])

In [6]:
print(obj)

a    4
b    7
c   -5
d    3
dtype: int64

In [9]:
obj.values

array([ 4,  7, -5,  3])

In [10]:
obj.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
obj[obj>2]

a    4
b    7
d    3
dtype: int64

## Dataframes

In [16]:
data = {'Estado': ['Santa Catarina','Parana','Goias','Bahia','Minhas Gerais'],
       'Ano': [2002,2003,2004,2005,2006],
       'Pop':[1.5,1.7,3.6,2.4,2.9]}

In [17]:
frame = pd.DataFrame(data)

In [18]:
frame

           Estado   Ano  Pop
0  Santa Catarina  2002  1.5
1          Parana  2003  1.7
2           Goias  2004  3.6
3           Bahia  2005  2.4
4   Minhas Gerais  2006  2.9

In [19]:
type(frame)

pandas.core.frame.DataFrame

In [20]:
frame.Estado

0    Santa Catarina
1            Parana
2             Goias
3             Bahia
4     Minhas Gerais
Name: Estado, dtype: object

In [21]:
frame[:3]

           Estado   Ano  Pop
0  Santa Catarina  2002  1.5
1          Parana  2003  1.7
2           Goias  2004  3.6